[submodule "src/external/capstone"]
	path = src/external/capstone
	url = https://github.com/capstone-engine/capstone.git
[submodule "src/external/graphviz"]
	path = src/external/graphviz
	url = https://gitlab.com/graphviz/graphviz.git
[submodule "src/external/tree-sitter/csharp-tree-sitter"]
	path = src/external/tree-sitter/csharp-tree-sitter
	url = https://github.com/bgn64/csharp-tree-sitter.git
[submodule "src/external/tree-sitter/tree-sitter-c-sharp"]
	path = src/external/tree-sitter/tree-sitter-c-sharp
	url = https://github.com/tree-sitter/tree-sitter-c-sharp.git
[submodule "src/external/tree-sitter/tree-sitter-rust"]
	path = src/external/tree-sitter/tree-sitter-rust
	url = https://github.com/tree-sitter/tree-sitter-rust.git
